/* Survey page styles */

.photo{
  width: 60%;
  padding: 10px;
}

input:focus,
textarea:focus,
select:focus {
  border: 2px solid #3333ff;
}

form {
  margin: 0 auto;
  text-align: left;
  display: inline-block;
}

.container{
  text-align: center;
}

.newsletter{
  text-align: right;
}
.newsletter legend {
  text-align: left;
}

.comments {
  display: block;
}

/* Styles for larger screens */
@media screen and (min-width: 840px) {
  .photo{
    width: 40%;
  }
}
